/**
 * SPDX-FileCopyrightText: © 2023 Brian S. Stephan <bss@incorporeal.org>
 * SPDX-License-Identifier: GPL-3.0-or-later
 */
Tree {
    padding: 1;
}

Button {
    border: round gray;
    content-align: center middle;
    max-width: 50%;
    height: 100%;
    margin: 0 1;
}

EditScreen, MessageScreen, SaveAsScreen {
    align: center middle;
}

EditScreen Label {
    width: 100%;
    height: 100%;
    content-align: center middle;
}

#config_tree {
    border: heavy gray;
    padding: 1;
    margin: 1;
}

.hidden {
    visibility: hidden;
}

#edit-dialog, #save-as-dialog {
    padding: 0 1;
    grid-rows: 1fr 1fr 1fr 1fr;
    width: 50%;
    height: 50%;
    border: tall gray 100%;
}

#message-dialog {
    padding: 0 1;
    grid-rows: 3fr 1fr;
    max-width: 75%;
    max-height: 75%;
    border: tall gray 100%;
}

#button-container {
    align: center middle;
}

#cancel-button-container {
    align: left middle;
}

#confirm-button-container {
    align: right middle;
}

#field-name, #field-input, #input-errors {
    column-span: 2;
}

#field-input {
    border: solid white;
}
